<% provide :title, @user.user_profile_name %>
<% provide :icon, "icon/books.png"%>
<div class="site-section bg-light" id="main-content">
  <div class="container">

    <div class="col-md-12 cover-image">
      <div class="avatar-image">
        <%= image_tag @user.user_profile_avatar %>
      </div>
      <div class="user-name">
          <span class="h2 font-weight-bold">
            <%= @user.user_profile_name %>
          </span>
      </div>
      <% if current_user == @user %>
        <div class="btn-edit-profile">
          <%= button_tag class: "btn btn-primary",
            data: {toggle: "modal", target: "#edit-profile"} do %>
            <i class="fas fa-pencil-alt"></i>
            <%= t ".edit_profile" %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="row mt-5">
      <div class="col-md-12">

        <div id="follow-form">
          <%= @user.relationship_form current_user %>
        </div>

        <div class="col-md-4 pl-0 pt-3 pb-3 mt-3">
          <div class="row m-0 pt-3 bg-white">
            <div class="border-dark mb-3 pb-1 col-md-12">
              <h3 class="text-dark font-weight-bold">
                <%= image_tag "svg/users.svg", class:"height-30" %>
                <%= t ".user_information" %>
              </h3>
            </div>

            <div class="col-md-12 mt-3">
              <span class="h6">
                <i class="fas fa-transgender"></i>
                <%= t ".gender" %>:
              </span>
              <span class="h5 text-danger font-weight-bold">
                <%= @user.user_profile_gender %>
              </span>
            </div>

            <div class="col-md-12 mt-3">
              <span class="h6">
                <i class="fas fa-birthday-cake"></i>
                <%= t ".birthday" %>:
              </span>
              <span class="h5 text-danger font-weight-bold">
                <%= @user.user_profile_birthday %>
              </span>
            </div>

            <div class="col-md-12 mt-3">
              <span class="h6">
                <i class="fas fa-phone-square"></i>
                <%= t ".phone" %>:
              </span>
              <span class="h5 text-danger font-weight-bold">
                <%= @user.user_profile_phone %>
              </span>
            </div>

            <div class="col-md-12 mt-3">
              <span class="h6">
                <i class="fas fa-envelope-open"></i>
                <%= t ".email" %>:
              </span>
              <span class="h5 text-danger font-weight-bold">
                <%= @user.email %>
              </span>
            </div>

            <div class="col-md-12 mt-3">
              <span class="h6">
                <i class="fas fa-map-pin ml-1 mr-1"></i>
                <%= t ".address" %>:
              </span>
              <span class="h5 text-danger font-weight-bold">
                <%= @user.user_profile_address %>
              </span>
            </div>
          </div>

          <div class="row m-0 mt-3 pt-3 bg-white">
            <div class="border-dark mb-3 pb-1 col-md-12">
              <h3 class="text-dark font-weight-bold">
                <%= image_tag "svg/follow.svg", class: "height-30" %>
                <%= link_to user_following_index_path(@user) do %>
                  <%= @user.count_following %> <%= t ".following" %>
                <% end %>
              </h3>
            </div>

            <%= render partial: "user_follow",
              collection: @user.user_following, as: :user %>
          </div>

          <div class="row m-0 mt-3 pt-3 bg-white">
            <div class="border-dark mb-3 pb-1 col-md-12">
              <h3 class="text-dark font-weight-bold">
                <%= image_tag "svg/follow.svg", class: "height-30" %>
                <%= link_to user_followers_path(@user) do %>
                  <%= @user.count_followers %> <%= t ".followers" %>
                <% end %>
              </h3>
            </div>

            <%= render partial: "user_follow",
              collection: @user.user_followers, as: :user %>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<%= render "modal_edit_profile", resource: @user %>
