<div class="col-md-12 m-4 bg-white p-3">
  <div class="media">

    <%= image_tag activity.avt_user, class: "avatar-activity mr-3" %>

    <div class="media-body">

      <h5 class="m-0">
        <%= link_to user_path(activity.user) do %>
          <%= activity.user_name %>
        <% end %>

        <% if activity.marker? %>
          <%= t ".mark" %>
          <%= activity.status_maker %>
          <%= link_to book_path(activity.book_marker) do %>
            <%= activity.book_title_marker %>
          <% end %>
        <% end %>

        <% if activity.relationship? %>
          <%= t ".following" %>
          <%= link_to user_path(activity.followed_relationship) do %>
            <%= activity.followed_name_ralationship %>
          <% end %>
        <% end %>
      </h5>

      <%= activity.created_at %>

      <div class="media mt-2">
        <div class="media-body">

          <div class="mt-0 mb-2">
            <i class="fab fa-gratipay fa-lg c-gray like"
              title="<%= t ".like" %>"></i>
            <i class="fas fa-comment-dots fa-lg c-gray ml-3 comment"></i>
          </div>

          <div class="media mt-2">

            <%= image_tag check_avatar(current_user.user_profile),
              class: "mr-2 avt-repcmt" %>

            <div class="media-body">
              <%= form_with url: "#" do |f| %>
                <%= f.text_field :content, placeholder: t(".write_a_comment"),
                  class: "form-control write_comment" %>
              <% end %>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>
