<% provide :title, t(".list_books") %>
<% provide :icon, "icon/books.png"%>
<div class="site-section" id="main-content">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-7 text-left border-primary">
        <h2 class="font-weight-light text-primary">
          <%= t ".list_books" %>
        </h2>
      </div>
    </div>

    <div class="row mt-2">
      <div class="toggle">
        <span id="toggle-filter" class="h4 text-warning m-3">
          <%= t ".filter" %>
          <i class="fas fa-toggle-off"></i>
        </span>
      </div>
      <div class="col-md-12 book-filters hidden m-3 bg-white">
        <%= render "book_filter_form" %>
      </div>
    </div>

    <div class="row mt-5" id="list-books">
      <%= render @books %>
    </div>
    <div class="row justify-content-center" id="kaminari-list-books">
      <%= paginate @books, remote: true %>
    </div>
  </div>
</div>
