<% provide :title, @book.title %>
<% provide :icon, "icon/books.png"%>

<div class="site-section bg-light" id="main-content">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12 text-center border-primary">
        <h1 class="font-weight-bold text-danger">
          <%= @book.title %>
        </h1>
      </div>
    </div>

    <% if can? Marker::AUTHORIZE_USER, Marker %>
      <div class="row bg-white col-md-12 m-0 mt-5 mb-5">
        <div class="col-md-3 mb-3 mt-3" id="marker-favorite">
          <%= marker_form @book, :favorite %>
        </div>
        <div class="col-md-3 mb-3 mt-3" id="marker-readed">
          <%= marker_form @book, :readed %>
        </div>
        <div class="col-md-3 mb-3 mt-3" id="marker-reading">
          <%= marker_form @book, :reading %>
        </div>
        <div class="col-md-3 mb-3 mt-3" id="marker-purchase_request">
          <%= marker_form @book, :purchase_request %>
        </div>
      </div>
    <% end %>

    <div class="row m-0">
      <div class="col-md-7">
        <div class="row bg-white pt-5 pb-3">

          <div class="col-md-4">
            <div class="mb-2">
              <div class="col-xs-4">
                <%= image_tag @book.cover_image_asset, class: "img-fluid" %>
              </div>
            </div>
          </div>

          <div class="col-md-8">
            <div class="border-warning pb-1 mb-3">
              <h4 class="font-weight-bold text-warning">
                <%= t ".book_information" %>
              </h4>
            </div>
            <div>
              <span><%= t ".author" %>:</span>
              <%= @book.author %>
            </div>
            <div>
              <span><%= t ".number_pages" %>:</span>
              <%= @book.number_pages %>
            </div>
            <div>
              <span><%= t ".publish_date" %>:</span>
              <%= l @book.publish_date, format: :short_time %>
            </div>
            <div>
              <span><%= t ".price" %>:</span>
              <%= number_to_currency @book.price %>
            </div>
            <hr>

            <div class="border-warning pb-1 mb-3">
              <h4 class="font-weight-bold text-warning">
                <%= t ".average_rating" %>
              </h4>
            </div>
            <% if @reviews.blank? %>
              <h6><%= t ".notify_no_reviews" %></h6>
            <% else %>
              <div class="average-reviews">
                <%= render "average_reviews", object: @book %>
              </div>
            <% end %>
            <hr>
            <div class="review-form">
              <% if !@book.review_of_current_user? %>
                <h4 class="font-weight-bold text-success">
                  <%= t ".can_review" %>
                </h4>
                <div>
                  <%= render "reviews/form" %>
                </div>
              <% end %>
            </div>
          </div>

        </div>

        <div class="row bg-white mt-5 pl-3 pt-5 pb-3 mb-5">
          <div class="border-warning pb-1 mb-3">
            <h4 class="font-weight-bold text-warning">
              <%= t ".description" %>
            </h4>
          </div>
          <div class="col-md-12 p-0">
            <%= @book.description.html_safe %>
          </div>
        </div>
      </div>

      <div class="col-md-5 pl-md-5 p-0">
        <div class="bg-white pt-5 pb-3 pl-3">
          <div class="border-warning pb-1 mb-3">
            <h4 class="font-weight-bold text-warning">
              <%= t ".community_reviews" %>
            </h4>
          </div>
          <div class="" id="list-reviews">
            <% if @reviews.blank? %>
              <h6><%= t ".notify_no_reviews" %></h6>
            <% end %>
            <div class="reviews-first">
            </div>
            <%= render @reviews %>
          </div>
          <div class="" id="kaminari-list-reviews">
            <%= paginate @reviews %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
