<% provide :title, t(".forgot_your_password") %>
<% provide :icon, "icon/books.png"%>
<div class="site-section bg-light" id="main-content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6" data-aos="fade">
        <div class="bg-white p-5">
          <div class="border-primary mb-3 pb-1">
            <h2 class="text-primary">
              <%= t ".forgot_your_password" %>
            </h2>
          </div>
          <%= form_for resource, as: resource_name,
            url: password_path(resource_name) do |f| %>
          <%= render partial: "shared/error_messages",
              locals: {object: resource} %>
          <div class="field mb-3">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email",
                value: (resource.pending_reconfirmation? ?
                  resource.unconfirmed_email : resource.email),
                    class: "form-control" %>
          </div>
          <div class="actions mb-5">
            <%= f.submit t(".send_reset_password"),
              class: "btn btn-primary py-2 px-4 text-white" %>
          </div>
          <% end %>
          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
