<div class="reviews-js">
  <div class="edit_review">
    <div>
      <%= link_to review.user_profile_name, user_path(review.user) %>
    </div>
    <div class="time-review">
      <i><%= l review.updated_at, format: :datetime %></i>
    </div>
    <div class="review-rating" data-score="<%= review.rate %>"></div>
    <p class="review">
      <%= review.content %>
    </p>
    <% if user_signed_in? && review.user_id == current_user.id %>
    <div class="links btn-group">
      <%= link_to t(".btn_edit"), edit_book_review_path(review.book, review),
        class: "btn btn-custom" %>
      <%= link_to t(".btn_del"), book_review_path(review.book, review),
        method: :delete, remote: true, data: { confirm: t(".mess_del") },
          class: "btn btn-custom destroy-product" %>
    </div>
    <% end %>
  </div>
</div>
<hr>
