<% provide :title, @user.user_profile.name %>
<% provide :icon, "icon/books.png"%>
<div class="site-section bg-light" id="main-content">
  <div class="container">

    <div class="col-md-12 cover-image">
      <div class="avatar-image">
        <%= image_tag check_avatar(@user.user_profile) %>
      </div>
      <div class="user-name">
        <%= link_to user_path(@user), class: "h2 font-weight-bold" do %>
          <%= @user.user_profile.name %>
        <% end %>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12">

        <div id="follow-form">
          <%= ralationship_form(current_user, @user) if user_signed_in? %>
        </div>

      </div>

      <div class="col-md-4">

        <div class="col-md-12 pl-0 pt-3 pb-3 mt-3">
          <div class="row m-0 pt-3 bg-white">
            <div class="border-dark mb-3 pb-1 col-md-12">
              <h3 class="text-dark font-weight-bold">
                <%= image_tag "svg/users.svg", class:"height-30" %>
                <%= t ".user_information" %>
              </h3>
            </div>

            <div class="col-md-12 mt-3">
              <span class="h6">
                <i class="fas fa-transgender"></i>
                <%= t ".gender" %>:
              </span>
              <span class="h5 text-danger font-weight-bold">
                <%= gender @user.user_profile %>
              </span>
            </div>

            <div class="col-md-12 mt-3">
              <span class="h6">
                <i class="fas fa-birthday-cake"></i>
                <%= t ".birthday" %>:
              </span>
              <span class="h5 text-danger font-weight-bold">
                <%= l @user.user_profile.birthday, format: :date %>
              </span>
            </div>

            <div class="col-md-12 mt-3">
              <span class="h6">
                <i class="fas fa-phone-square"></i>
                <%= t ".phone" %>:
              </span>
              <span class="h5 text-danger font-weight-bold">
                <%= @user.user_profile.phone %>
              </span>
            </div>

            <div class="col-md-12 mt-3">
              <span class="h6">
                <i class="fas fa-envelope-open"></i>
                <%= t ".email" %>:
              </span>
              <span class="h5 text-danger font-weight-bold">
                <%= @user.email %>
              </span>
            </div>

            <div class="col-md-12 mt-3">
              <span class="h6">
                <i class="fas fa-map-pin ml-1 mr-1"></i>
                <%= t ".address" %>:
              </span>
              <span class="h5 text-danger font-weight-bold">
                <%= @user.user_profile.address %>
              </span>
            </div>
          </div>

        </div>

      </div>

      <div class="col-md-8">
        <div class="col-md-12 pr-0 pl-0 pt-3 pb-3 mt-3">
          <div class="row m-0 pt-3 bg-white">
            <div class="border-dark mb-3 pb-1 col-md-12">
              <h3 class="text-dark font-weight-bold">
                <%= image_tag "svg/follow.svg", class:"height-30" %>
                <%= t ".following" %>
              </h3>
            </div>

            <div class="col-md-4 mb-3 offset-md-8">
              <%= text_field_tag nil, nil,
                class: "form-control following-search-form",
                  placeholder: t(".find_users_by_name"),
                    data: {user_id: @user.id} %>
            </div>

            <div class="col-md-12 row" id="following">
              <%= render partial: "user",
                collection: @users %>
            </div>

            <div class="justify-content-center col-md-12 row"
              id="paginate-following">
              <%= paginate @users, remote: true %>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
