<div class="navbar-expand-sm fixed-top">
  <header class="site-navbar container py-0" role="banner">
    <div class="row align-items-center">
      <div class="col-6 col-xl-2">
        <h1 class="mb-0 site-logo">
          <span class="text-white mb-0">
            <span class="flaticon-books"></span>
            <%= t ".title1" %>
            <span class="text-primary"><%= t ".title2" %></span>
          </span>
        </h1>
      </div>
      <div class="col-12 col-md-10 d-none d-xl-block">
        <nav class="site-navigation position-relative text-right"
          role="navigation">
          <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
            <li class="<%= navigation_activation root_path %>">
              <%= link_to t(".home"), root_path %>
            </li>
            <% if current_user %>
              <li class="has-children <%= navigation_activation books_path,
                new_book_path , favorites_path, reading_books_path,
                  readed_books_path %>">
                <%= link_to t(".book"), books_path %>
                <% if current_user.admin? %>
                  <ul class="dropdown">
                    <li class="<%= navigation_activation new_book_path %>">
                      <%= link_to t(".create_book"), new_book_path %>
                    </li>
                  </ul>
                </li>
                <% else %>
                  <ul class="dropdown">
                    <li class="<%= navigation_activation favorites_path %>">
                      <%= link_to t(".favorite"), favorites_path %>
                    </li>
                    <li class="<%= navigation_activation reading_books_path %>">
                      <%= link_to t(".reading"), reading_books_path %>
                    </li>
                    <li class="<%= navigation_activation readed_books_path %>">
                      <%= link_to t(".readed"), readed_books_path %>
                    </li>
                  </ul>
                </li>
                <% end %>
                <li class="<%= navigation_activation purchase_requests_path %>">
                  <%= link_to t(".request_book"), purchase_requests_path %>
                </li>
            <% else %>
              <li class="<%= navigation_activation books_path %>">
                <%= link_to t(".book"), books_path %>
              </li>
            <% end %>
            <li>
              <%= link_to t(".contact"), "#" %>
            </li>
            <li class="has-children">
              <%= link_to t(".language"), "#", class: "disable" %>
              <ul class="dropdown">
                <li>
                  <%= link_to locale: "en" do %>
                    <%= image_tag "en.jpg", class: "image-language" %>
                    <%= t ".english" %>
                  <% end %>
                </li>
                <li>
                  <%= link_to locale: "vi" do %>
                    <%= image_tag "vi.jpg", class: "image-language" %>
                    <%= t ".vietnamese" %>
                  <% end %>
                </li>
              </ul>
            </li>
            <span class="border-left pl-xl-2"></span>
            <% if user_signed_in? %>
              <li class="has-children
                <%= navigation_activation user_path(current_user),
                  edit_user_registration_path %>">
                <%= link_to "#", class: "disable" do %>
                  <%= image_tag check_avatar(current_user.user_profile), class: "image-language" %>
                  <%= current_user.email %>
                <% end %>
                <ul class="dropdown">
                  <li class="
                    <%= navigation_activation user_path(current_user) %>">
                    <%= link_to user_path(current_user) do %>
                      <%= t ".personal_information"%>
                    <% end %>
                  </li>
                  <li class="
                    <%= navigation_activation edit_user_registration_path %>">
                    <%= link_to edit_user_registration_path do %>
                      <%= t ".change_password" %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to destroy_user_session_path, method: :delete do %>
                      <%= t ".sign_out" %>
                    <% end %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li class="ml-xl-3 login">
                <%= link_to "#", data: {toggle: "modal",
                  target: "#loginModal"} do%>
                  <%= t ".sign_in"%>
                <% end %>
              </li>
              <li class="
                <%= navigation_activation new_user_registration_path %>">
                <%= link_to new_user_registration_path do %>
                  <%= t(".register") %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
      <div class="d-inline-block d-xl-none ml-auto py-3 col-6 text-right"
        id="bottom-header">
        <a href="#" class="site-menu-toggle js-menu-toggle text-white">
          <span class="icon-menu h3"></span>
        </a>
      </div>
    </div>
  </header>
</div>
