<div class="site-section bg-light">
  <div class="container">
    <div class="overlap-category mb-5">
      <div class="row align-items-stretch no-gutters">

        <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
          <span href="#" class="popular-category h-100">
            <span class="icon">
              <%= image_tag "svg/users.svg", class: "statistical" %>
            </span>
            <span class="caption mb-2 d-block">
              <%= t ".users" %>
            </span>
            <span class="number">43,921</span>
          </span>
        </div>

        <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
          <span href="#" class="popular-category h-100">
            <span class="icon">
              <%= image_tag "svg/books.svg", class: "statistical" %>
            </span>
            <span class="caption mb-2 d-block">
              <%= t ".books" %>
            </span>
            <span class="number">1000</span>
          </span>
        </div>

        <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
          <span href="#" class="popular-category h-100">
            <span class="icon">
              <%= image_tag "svg/website.svg", class: "statistical" %>
            </span>
            <span class="caption mb-2 d-block">
              <%= t ".website" %>
            </span>
            <span class="number">200</span>
          </span>
        </div>

        <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
          <span href="#" class="popular-category h-100">
            <span class="icon">
              <%= image_tag "svg/mobile.svg", class: "statistical" %>
            </span>
            <span class="caption mb-2 d-block">
              <%= t ".mobile" %>
            </span>
            <span class="number">500</span>
          </span>
        </div>

        <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
          <span href="#" class="popular-category h-100">
            <span class="icon">
              <%= image_tag "svg/pc.svg", class: "statistical" %>
            </span>
            <span class="caption mb-2 d-block">
              <%= t ".desktop" %>
            </span>
            <span class="number">100</span>
          </span>
        </div>

        <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
          <span href="#" class="popular-category h-100">
            <span class="icon">
              <%= image_tag "svg/think.svg", class: "statistical" %>
            </span>
            <span class="caption mb-2 d-block">
              <%= t ".orther" %>
            </span>
            <span class="number">200</span>
          </span>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h2 class="h5 mb-4 text-black">
          <%= t ".highest_rated" %>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12  block-13">
        <div class="owl-carousel nonloop-block-13">
          <div class="d-block d-md-flex listing vertical">
            <%= link_to "#", class: "img d-block" do %>
              <%= image_tag "img_1.jpg" %>
            <% end %>
            <div class="lh-content">
              <span class="category">
                <%= t ".website" %>
              </span>
              <%= link_to "#", class: "bookmark" do %>
                <span class="icon-heart"></span>
              <% end %>
              <h3>
                <%= link_to t(".title_waiting"), "#" %>
              </h3>
              <address><%= t ".author_waiting" %></address>
              <p class="mb-0 rating">
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="review">(100 Reviews)</span>
              </p>
            </div>
          </div>

          <div class="d-block d-md-flex listing vertical">
            <%= link_to "#", class: "img d-block" do %>
              <%= image_tag "img_2.jpg" %>
            <% end %>
            <div class="lh-content">
              <span class="category">
                <%= t ".website" %>
              </span>
              <%= link_to "#", class: "bookmark" do %>
                <span class="icon-heart"></span>
              <% end %>
              <h3>
                <%= link_to t(".title_waiting"), "#" %>
              </h3>
              <address><%= t ".author_waiting" %></address>
              <p class="mb-0 rating">
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="review">(100 Reviews)</span>
              </p>
            </div>
          </div>

          <div class="d-block d-md-flex listing vertical">
            <%= link_to "#", class: "img d-block" do %>
              <%= image_tag "img_3.jpg" %>
            <% end %>
            <div class="lh-content">
              <span class="category">
                <%= t ".website" %>
              </span>
              <%= link_to "#", class: "bookmark" do %>
                <span class="icon-heart"></span>
              <% end %>
              <h3>
                <%= link_to t(".title_waiting"), "#" %>
              </h3>
              <address><%= t ".author_waiting" %></address>
              <p class="mb-0 rating">
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="review">(100 Reviews)</span>
              </p>
            </div>
          </div>

          <div class="d-block d-md-flex listing vertical">
            <%= link_to "#", class: "img d-block" do %>
              <%= image_tag "img_3.jpg" %>
            <% end %>
            <div class="lh-content">
              <span class="category">
                <%= t ".website" %>
              </span>
              <%= link_to "#", class: "bookmark" do %>
                <span class="icon-heart"></span>
              <% end %>
              <h3>
                <%= link_to t(".title_waiting"), "#" %>
              </h3>
              <address><%= t ".author_waiting" %></address>
              <p class="mb-0 rating">
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="review">(100 Reviews)</span>
              </p>
            </div>
          </div>

          <div class="d-block d-md-flex listing vertical">
            <%= link_to "#", class: "img d-block" do %>
              <%= image_tag "img_4.jpg" %>
            <% end %>
            <div class="lh-content">
              <span class="category">
                <%= t ".website" %>
              </span>
              <%= link_to "#", class: "bookmark" do %>
                <span class="icon-heart"></span>
              <% end %>
              <h3>
                <%= link_to t(".title_waiting"), "#" %>
              </h3>
              <address><%= t ".author_waiting" %></address>
              <p class="mb-0 rating">
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="review">(100 Reviews)</span>
              </p>
            </div>
          </div>

          <div class="d-block d-md-flex listing vertical">
            <%= link_to "#", class: "img d-block" do %>
              <%= image_tag "img_2.jpg" %>
            <% end %>
            <div class="lh-content">
              <span class="category">
                <%= t ".website" %>
              </span>
              <%= link_to "#", class: "bookmark" do %>
                <span class="icon-heart"></span>
              <% end %>
              <h3>
                <%= link_to t(".title_waiting"), "#" %>
              </h3>
              <address><%= t ".author_waiting" %></address>
              <p class="mb-0 rating">
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="review">(100 Reviews)</span>
              </p>
            </div>
          </div>

          <div class="d-block d-md-flex listing vertical">
            <%= link_to "#", class: "img d-block" do %>
              <%= image_tag "img_3.jpg" %>
            <% end %>
            <div class="lh-content">
              <span class="category">
                <%= t ".website" %>
              </span>
              <%= link_to "#", class: "bookmark" do %>
                <span class="icon-heart"></span>
              <% end %>
              <h3>
                <%= link_to t(".title_waiting"), "#" %>
              </h3>
              <address><%= t ".author_waiting" %></address>
              <p class="mb-0 rating">
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="review">(100 Reviews)</span>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
