<!DOCTYPE html>
<html>
  <head>
    <title>RubyHtBookReviewSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload",
      defer: true %>
    <%= javascript_include_tag "i18n" %>
    <script>
      I18n.defaultLocale = "<%= I18n.default_locale %>"
      I18n.locale = "<%= I18n.locale || I18n.default_locale %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
