<% provide :title, t(".change_password") %>
<% provide :icon, "icon/books.png"%>
<div class="site-section bg-light" id="main-content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 bg-white p-5" data-aos="fade">
        <div class="border-primary mb-5 pb-1">
          <h2 class="text-primary">
            <%= t ".change_password" %>
          </h2>
        </div>
        <%= form_for resource, as: resource_name,
          url: registration_path(resource_name), html: {method: :put} do |f| %>

          <%= render "shared/error_messages", object: resource %>

          <div class="row form-group pb-3">
            <div class="col-md-12">
              <%= f.label :password, t(".password"), class: "text-black" %>
              <%= f.password_field :password, autocomplete: "new-password",
                class: "form-control" %>
              <% if @minimum_password_length %>
                <em>
                  <%= t ".characters_minimum",
                    pass: @minimum_password_length %>
                </em>
              <% end %>
            </div>
          </div>

          <div class="row form-group pb-3">
            <div class="col-md-12">
              <%= f.label :password_confirmation, t(".password_confirmation"),
                class: "text-black" %>
              <%= f.password_field :password_confirmation,
                autocomplete: "new-password", class: "form-control" %>
            </div>
          </div>

          <div class="row form-group pb-3">
            <div class="col-md-12">
              <%= f.label :current_password, t(".current_password"),
                class: "text-black" %>
              <i><%= t ".text_password" %></i>
              <%= f.password_field :current_password,
                autocomplete: "current-password", class: "form-control" %>
            </div>
          </div>

          <div class="row form-group pb-3">
            <div class="col-md-8">
              <%= f.submit t(".btn_update"),
                class: "btn btn-primary py-2 px-4 text-white" %>
              <%= link_to t(".btn_back"), :back,
                class: "btn btn-primary py-2 px-4 text-white" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
